<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Laravel cheetsheet</title>
<link rel="stylesheet" href="./css/main.css" />
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
rel="stylesheet">
<!-- <script src="all.js"></script> -->
<!-- ######## swiiper cdn ################### -->
<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
<!--=================== font awsome link========================= -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="./css/prism.css">


</head>

<body>
<nav>
<span class="logo">
<div class="logo_img">
<img src="./webImages/copy_logo.webp" alt="">
</div>


<div class="content center">
This is  laravel cheetsheet for you!
</div>

</span>

</nav>
<div class="container">
<ol>
<li>Defining a route code example
<pre class="language-php"><code>
Route::get("about",function(){
return view('about');
};
</code>
</pre>
</li>
  
  
<li>Defining middleware code
<pre class="language-php"><code>
use Symfony\Component\HttpKernel\Exception\HttpException;
public function handle(Request $request, Closure $next)
    {
        throw new HttpException(503);
    }
</code>
</pre>
</li>
  
  
  <li>Defining middleware code
<pre class="language-php"><code>composer require livewire/livewire
</code>
</pre>
</li>
  
<li>Defining middleware code
<pre class="language-php"><code>
composer require livewire/livewire
php artisan make:livewire HomeComponent

routing of livewire
Route::get('/',HomeComponent::class);
define this in base file
{{ $slot }}
</code>
</pre>
</li>
  
  
  
  <li>to see the default errors middleware
<pre class="language-php">
<code>
php artisan vendor:publish --tag=laravel-errors
</code>
</pre>
</li>
   <li>to add categories in the web aoolication
<pre class="language-php">
<code>

            @php
                $category=\Illuminate\Support\Facades\DB::table('categories')->get();
                @endphp
                @foreach ($category as $item)

                <option value="{{ $item->title }}">{{ $item->title }}</option>
                @endforeach
</code>
</pre>
</li>
  
  
  
  
  <li>when you want to submit your form through model
<pre class="language-php"><code>
function store(Request $req){
    $customer=new FormSubmit;
    $customer->name=$req['name'];
    $customer->email=$req['email'];
    $customer->password=$req['password']; 
    $customer->country=$req['country']; 
    $customer->address=$req['address']; 
    
    $customer->save();
    return ("<h2>your form submited</h2>");
}
</code>
</pre>
</li>


<li>enum function in migration
<pre class="language-php"><code>
$table->enum("gender",["M","F","o"]);
</code>
</pre>
</li>


<li>function of php which convert string to array
<pre class="language-php"><code>
compact('this is string');
</code>
</pre>
</li>
  
  
<li>
this is the tinker command  
<pre class="language-php"><code>
php artisan tinker
</code>
</pre>
</li>
  
  <li>
this is the tinker command  through you get all data
<pre class="language-php"><code>
DB::table('tablename')->get();
</code>
</pre>
</li>
  
  <li>
this is the tinker command   through you insert data
<pre class="language-php"><code>
DB::("tablename")->insert(["name"=>"shoaib","email"=>"shoaib@gmail.com"],["name"=>"talha","email"=>"talha@gmail.com"]);
</code>
</pre>
</li>
  
  
   <li>
this is the tinker command   through you retrive data
<pre class="language-php"><code>
with array
DB::table("tablename")->where("name","shoaib")->get();
without array
DB::table("tablename")->where("name","shoaib")->first();
</code>
</pre>
</li>
  
  
  <li>
this is the tinker command   through this commnad you can retrive all the data in one column
<pre class="language-php"><code>
with array
DB::table("tablename")->pluck("name");
</code>
</pre>
</li>
  
  
  
<li>you can take the data from web.php into main file like home.blade.php
<pre class="language-php"><code>
Route::get('home/{name?}/{id}',function($id,$name=null){
$data=compact('id','name');
return view('home')->with($data);
})
and now the data is calling into main home file with blade syntex
{{$id}}
{{$name}}
</code>
</pre>
</li>

<li>Defining a route code example with parameter
<pre class="language-php"><code>

Route::get("about/{idNo}",function($id){
return  ($id);
};

</code>
</pre>
</li>
<li>Defining a route code example with parameter and optional
<pre class="language-php"><code>

Route::get("about/{idNo?}/{name}",function($id=null,$name){
return  ($id."your name is ".$name);
}->whereNumber('id')->whereAlpha('name');
</code>
</pre>
</li>
<li>for view of any web page
<pre class="language-php"><code>
Route::view('/about','admin.aboutme');
</code>
</pre>
</li>
<li>for view of any web page
<pre class="language-php"><code>
Route::get('/', function () {
return view('welcome');
});
</code>
</pre>
</li>
<li>Route with controller
<pre class="language-php"><code>
Route::get('about',[controllerName::class,'fumnctionName    ']);
</code>
</pre>
</li>
<li>command to show your webpage
<pre class="language-php"><code>
php artisan serve
</code>
</pre>
</li>
</li>
<li>Redirect code 
<pre class="language-php"><code>
Route::redirect("yaha","waha");
</code>
</pre>
</li>
<li>Redirect code 
<pre class="language-php"><code>
Route::redirect("yaha1","kaha1",201);
</code>
</pre>
</li>
<li>Redirect code 
<pre class="language-php"><code>
return redirect (route('index'));
</code>
</pre>
</li>
<li>Redirect code 
<pre class="language-php"><code>
Route::permanentRedirect("yaha2","kaha2");
</code>
</pre>
</li>
<li>fallback message code   
<pre class="language-php"><code>
Route::fallback(function(){
return "defalut value";
});
</code>
</pre>
</li>
<li>In order to make controller 
<pre class="language-php"><code>
php artisan make:controller controllerName
</code>
</pre>
</li>
<li>In order to make Component
<pre class="language-php"><code>
php artisan make:component componentName
</code>
</pre>
</li>
<li>Single action controller command
<pre class="language-php"><code>
php artisan make:controller controllerName --invokable
</code>
</pre>
</li>
<li>This is the command how make laravel file
<pre class="language-php"><code>
composer create-project --prefer-dist laravel/laravel gs23
</code>
</pre>
</li>
<li>Single action controller route
<pre class="language-php"><code>
route::get('link',[ControllerName::class]);
</code>
</pre>
</li>
<li>if  example
<pre class="language-php"><code>
@if ($name=="sonam")
{{"hello ".$name}}
@endif
</code>
</pre>
</li>
<li>if else example
<pre class="language-php"><code>
@if ($name=="sonam")
{{"hy!  ".$name}}
@else{{"by sonam"}}
@endif
</code>
</pre>
</li>
<li>Unless example
<pre class="language-php"><code>
@unless ($name=="sonam")

{{your name is sonam?}}
@endunless
</code>
</pre>
</li>
<li>isset example
<pre class="language-php"><code>
@isset($name)
{{your name is sonam}}
@endisset    
</code>
</pre>
</li>
<li>empty code example
<pre class="language-php"><code>
@empty($name)
&lt;h3&gt;hello this is empty code&lt;h3&gt;    
@endempty
</code>
</pre>
</li>
<li>Production code example
<pre class="language-php"><code>
@production($name)
@endproduction
&lt;h3&gt;hello this is empty code&lt;h3&gt;    
</code>
</pre>
</li>
<li>env code example
<pre class="language-php"><code>
@env(['staging','local'])

&lt;h3&gt;local and staging environment&lt;h3&gt;    
@endenv
</code>
</pre>
</li>
<li>switch statement code example
<pre class="language-php"><code>
@switch(1)
@case(1)
&lt;h1&gt;THIS IS CASE ONE&lt;/h1&gt;
@break
@case(2)
&lt;h1&gt;THIS IS CASE TWO&lt;/h1&gt;
@break
@case(3)
&lt;h1&gt;THIS IS CASE THREE&lt;/h1&gt;
@break
@default

@endswitch
</code>
</pre>
</li>
<li>for loop statement code example
<pre class="language-php"><code>
@for ($i = 0; $i &lt;10; $i++)
&lt;h1&gt;{{$i}}&lt;/h1&gt; 

@endfor
</code>
</pre>
</li>
<li>forEach loop statement code example
<pre class="language-php"><code>
@foreach ($students as $stu)
&lt;h1&gt;
{{$stu}}
&lt;/h1&gt; 
@endforeach
</code>
</pre>
</li>
<li>forelse loop statement code example
<pre class="language-php"><code>
@forelse ($students as $stu)
&lt;h1&gt; 
{{$stu}}
&lt;/h1&gt; 

@empty
&lt;h1&gt;No students&lt;/h1&gt;
@endforelse
</code>
</pre>
</li>
<li>While loop example
<pre class="language-php"><code>
@while (true)
&lt;/h1&gt;hello forever&lt;/h1&gt;  
@endwhile
</code>
</pre>
</li>
<li>for each loop with break statement example
<pre class="language-php"><code>
@foreach ($students as $stu)
@if ( $loop-&gt;first )
&lt;h4&gt;this is first lopp&lt;/h4&gt;
@endif
@if ($loop-&gt;last)
&lt;h4&gt;this is last loop&lt;/h4&gt;
@endif
&lt;h3&gt;{{$stu}}&lt;/h3&gt;
@endforeach
</code>
</pre>
</li>
<li>include example
<pre class="language-php"><code>
@include('pagename');
</code>
</pre>
</li>
<li>includeIf example
<pre class="language-php"><code>
@includeIf('pagename');
</code>
</pre>
</li>
<li>this include a file and also execute array
<pre class="language-php"><code>
@each('filename','@arrayName','as thisname');
</code>
</pre>
</li>
<li>In order to use plain php in laravel file then write 
<pre class="language-php"><code>
@php 
echo "hello world";
@endphp 
</code>
</pre>
</li>
<li>In order to call component in Laravel
<pre class="language-php"><code>
&lt;x-component &gt;  &lt;x-component/&gt;
</code>
</pre>
</li>
<li>you must initialize your variable in app/views/component/componentName.php and write your code like that
<pre class="language-php"><code>
public $name;
public $fatherName;
public $news;
public $description;
public function __construct($name,$fatherName,$news,$description)  

{
$this->name=$name;
$this->fatherName=$fatherName;
$this->news=$news;
$this->description=$description;
}
</code>
</pre>
</li>
<li>then your code in resources/views/component/componentName.blade.php
<pre class="language-php"><code>
&lt;div&gt;

&lt;h1&gt;my name is {{$name}}  and your father name is {{$fatherName}} and the 
news is {{$news}} and the 

description is :- {{$description}}
&lt;/h1&gt;
&lt;div&gt;
&lt;h1 {{$attributes-&gt;merge(['class'=&gt;'dclass'])}}&gt;
hello
&lt;/h1&gt;
&lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
</li>

<li>now include your all code in example.blde.php and give value to these variables like that
<pre class="language-php">
<code>
&lt;x-componennt title="Card title" sub-title="card sub title" &gt;  &lt;x-componennt /&gt; 
</code>
</pre>
</li>
<li>adding css file in your website with laravel framework
<pre class="language-php">
<code>
&lt;link rel="stylesheet" href="asset{{asset('css/style.css')}}" &gt;
</code>
</pre>
</li>
<li>adding js file in your website with laravel framework
<pre class="language-php">
<code>
&lt;script src="asset{{asset('js/main.js')}}" script /&gt;
</code>
</pre>
</li>
<li>in order to install node module file then write command in terminal
<pre class="language-php">
<code>
npm install
</code>
</pre>
</li>
<li>To Compiled files we have two commands
dev="non-minified"
prod="minified"
watch="auto compiled also show result"
<pre class="language-php">
<code>
npm run dev 
npm run prod
npm run watch
</code>
</pre>
</li>
<li>
route call in your nav  tag like that
<pre class="language-php">
<code>
&lt;a href="{{route('home')}}">&lt;/a&gt;
</code>
</pre>
</li>
<li>
making middle wear through command
<pre class="language-php">
<code>
php artisan make:middleware middlewareName
</code>
</pre>
</li>
<li>
protect from some attacks put in form
<pre class="language-php">
<code>
@csrf
</code>
</pre>
</li>
<li>
this is the function through get all info about form data in array form
<pre class="language-php">
<code>
$request->all();
</code>
</pre>
</li>
<li>
this is the function through get info in input field about form data in array form
<pre class="language-php">
<code>
$request->input();
</code>
</pre>
</li>
<li>
this is the function through get info in input field of name about form data in array form
<pre class="language-php">
<code>
$req->input('name');
</code>
</pre>
</li>
<li>
you can also get data into any field through this function
<pre class="language-php">
<code>
$req->name;
</code>
</pre>
</li>
<li>
this is function of php its only check that one of them is present in form or not
<pre class="language-php">
<code>
$req->hasAny(['name','email']);
echo $req->name;
echo $req->email;

</code>
</pre>
</li>
<li>
this is function of php its only check that the following field filled or not
<pre class="language-php">
<code>
$req->Filled(['name','email']);
echo $req->name;
echo $req->email;

</code>
</pre>
</li>
<li>
this is the example through you can retrive data from an form 
<pre class="language-php">
<code>
function Signup(Request $req){
if($req->has(['name','email'])){
echo $req->name;
echo $req->email;
}
return view('Form');
}
}
</code>
</pre>
</li>
<li>
missing method
<pre class="language-php">
<code>
$req->missing('name');
</code>
</pre>
</li>
<li>
when data is present in input field then this code execute
<pre class="language-php">
<code>
function Signup(Request $req){
$req->whenFilled('name',function(){
echo "Data Modified";
});
</code>
</pre>
</li>
<li>
this also retrive data
<pre class="language-php">
<code>
$req->flashOnly(['name']);
</code>
</pre>
</li>
<li>
this code used for mysql 
<pre class="language-php">
<code>
use Illuminate\Support\Facades\DB;
</code>
</pre>
</li>
<li>
this code select all data from your mysql 
<pre class="language-php">
<code>
$student=DB::select('select * from student');
dd($student);
</code>
</pre>
</li>
<li>
this is the way you can retrive data 
<pre class="language-php">
<code>
$student=DB::select('select * from student where city=?',['karachi']);
</code>
</pre>
</li>
<li>
this is the way you can insert data 
<pre class="language-php">
<code>
DB::insert('insert into student(name,email,city) values(?,?,?)',['talha','talha@gmail.com','karachi']);
$student=DB::select('select * from student');
</code>
</pre>
</li>
<li>
this is the way you can update data 
<pre class="language-php">
<code>
DB::update('update student set city=? where id=?',["rawalpindi","4"]);
$student=DB::select('select * from student');
</code>
</pre>
</li>
<li>
this is the way you can delet data 
<pre class="language-php">
<code>
DB::delete('delete from student   where id=?',["1"]);
</code>
</pre>
</li>
<li>
through this code you can change or update you data in laravel
<pre class="language-php">
<code>
namespace App\Http\Controllers;

use Illuminate\Http\Request;
use Illuminate\Support\Facades\DB;

class studentController extends Controller
{
public function show(){    
$student=DB::select('select * from student');
DB::transaction(function()
{   
DB::update('update student set name=? where id=?',["hashir","9"]);
DB::delete('delete from student   where id=?',["10"]);
});

return view ('student',['student'=>$student]); 
}
}

</code>
</pre>
</li>
<li>
to retrive data form data base table
<pre class="language-php">
<code>
$students=DB::table('student')->get();
return view('student',['students'=>$students]);

</code>
</pre>
</li>
<li>
to retrive first row data form data base table
<pre class="language-php">
<code>
$students=DB::table('student','city','karachi')->first();
return view('student',['students'=>$students]);

</code>
</pre>
</li>
<li>
to find the particular name from database table 
<pre class="language-php">
<code>
$students=DB::table('student','city','karachi')->value("name");
$students=DB::table('student')where('city','katrachi')->value("name");

</code>
</pre>
</li>
<li>
to find the particular data from database table  acoording to id number
<pre class="language-php">
<code>
$students=DB::table('student')->find('5');

</code>
</pre>
</li>
<li>
if you find the column of list then 
<pre class="language-php">
<code>
$students=DB::table('student')->pluck('Name');
$students=DB::table('student')->pluck('marks','Name');(another method)

</code>
</pre>
</li>
<li>
chunking of data example:-
<pre class="language-php">
<code>
{
function show(){

DB::table('student')->orderBy('id')->chunk(2,function($students){
echo "chunk of data <br>";
foreach($students as $stu){
echo $stu->Name;
echo "<br>";
}

});



}

}


</code>
</pre>
</li>
<li>
in order to find the number of rows in database table
<pre class="language-php">
<code>
$student=DB::table('student')->count();
</code>
</pre>
</li>
<li>
in order to find the max value in any column
<pre class="language-php">
<code>
$student=DB::table('student')->max('marks');
</code>
</pre>
</li>
<li>
checking id present or not
<pre class="language-php">
<code>
if(DB::table('student')->where('id','10')->exists()){
dd("yes");
}
</code>
</pre>
</li>
<li>
get the data through 
<pre class="language-php">
<code>
DB::table('students')->where("city","karachi")->value("name");
</code>
</pre>
</li>
<li>
checking id present or not
<pre class="language-php">
<code>
if(DB::table('student')->where('id','10')->doesntExist()){
dd("yes");
}
</code>
</pre>
</li>
<li>
in order to select particular data
<pre class="language-php">
<code>
$student=DB::table('student')->select('Name','Email')->get();
dd($student);
</code>
</pre>
</li>
<li>
this is where function through you can get data
<pre class="language-php">
<code>
$student=DB::table('student')->where('id',1)->get();
// $student=DB::table('student')->where('id',">",1)->get();
</code>
</pre>
</li>
<li>
Example of where orWhere to retruve data from database
<pre class="language-php">
<code>
$students=DB::table('student')->where("name","like","t%")->orWhere("id",1)->get();
dd($students);
</code>
</pre>
</li>
<li>
Example of whereBetween to retruve data from database
<pre class="language-php">
<code>
$students=DB::table('student')->whereBetween('marks',[10,100])->get();
dd($students);
</code>
</pre>
</li>
<li>
In order to retrive data from database with date method 
<pre class="language-php">
<code>
$students = DB::table('student')->whereDate('date','2022-06-16')->get();

dd($students);
</code>
</pre>
</li>
<li>
In order to retrive data from database with year method 
<pre class="language-php">
<code>
$students = DB::table('student')->whereYear('date','2022')->get();

dd($students);
</code>
</pre>
</li>
<li>
In order to retrive data from database with Month method 
<pre class="language-php">
<code>
$students = DB::table('student')->whereMonth('pass_date','03')->get();

dd($students);
</code>
</pre>
</li>
<li>
In order to retrive data from database with Day method 
<pre class="language-php">
<code>
$students = DB::table('student')->whereDay('pass_date','03')->get();

dd($students);
</code>
</pre>
</li>
<li>
In order to retrive data from database with orderBy function
<pre class="language-php">
<code>
$students = DB::table('student')->orderBy('name','desc')->get();
'asc','desc'(these are the second argumets of function)

</code>
</pre>
</li>
<li>
In order to retrive data from database with latest function
<pre class="language-php">
<code>
$students = DB::table('student')->latest('date')->first()
</code>
</pre>
</li>
<li>
In order to retrive data from database with oldest function
<pre class="language-php">
<code>
$students = DB::table('student')->oldest('date')->first()
</code>
</pre>
</li>
<li>
In order to retrive data from database with random order function
<pre class="language-php">
<code>
$students = DB::table('student')->inRandomOrder()->get();

dd($students);
</code>
</pre>
<li>
In order to retrive data from database with groupBy function
<pre class="language-php">
<code>
$students = DB::table('student')->groupBy("marks")->having("marks",">",50)->get();

dd($students);
</code>
</pre>
</li>
<li>
In order to retrive data from database with take function
<pre class="language-php">
<code>
$students = DB::table('student')->skip(3)->take(2)->get();

dd($students);

dd($students);
</code>
</pre>
</li>
<li>
In order to retrive data from database with limit function
<pre class="language-php">
<code>
$students = DB::table('student')->limit(2)->get();

dd($students);

dd($students);
</code>
</pre>
</li>
<li>
In order to retrive data from database with offset and limit function
<pre class="language-php">
<code>
$students = DB::table('student')->offset(4)->limit(2)->get();

dd($students);

dd($students);
</code>
</pre>
</li>
<li>
IN LAARVEL YOU MAY ACTIVATE YOUR CODE WITH THIS SYNTEX
<pre class="language-php">
<code>
{{url('/edit',$stu->id)}}
</code>
</pre>
</li>
<li>
In order to insert multiple data in table 
<pre class="language-php">
<code>
$students=DB::table('student')->insert(
[
[
"Name"=>"shoaib",
"Email"=>"shoaib@gmail.com",
"city"=>"karachi",
"marks"=>"90",
"date"=>"2022-04-02"
],[

"Name"=>"Nalaik",
"Email"=>"Nalaik@gmail.com",
"city"=>"lahore",
"marks"=>"10",
"date"=>"2022-10-02"
]
]
);

dd($students);
</code>
</pre>
</li>
<li>
when you are making form then you insert data like that
<pre class="language-php">
<code>     
function index(request $request){
"name"=>$request->name,
"email"=>$request->email,
"number"=>$request->number,
}
</code>
</pre>
</li>
<li>
In order to retrive data from database with offset and limit function
<pre class="language-php">
<code>
$students = DB::table('student')->offset(4)->limit(2)->get();

dd($students);

dd($students);
</code>
</pre>
</li>
<li>
In order to insert data with insertOrIgnore method


<pre class="language-php">
<code>
DB::table('student')->insertOrIgnore([
"id"=>1,
"Name"=>'Tom',
"Email"=>'yahya@gmail.com',
"id"=>1,
"id"=>1,
]);

dd($students);
</code>
</pre>
</li>
<li>
In order to insert data with insertOrIgnore method


<pre class="language-php">
<code>
$id = DB::table('users')->insertGetId(
['email' => 'john@example.com','name' => 'john']
);
</code>
</pre>
</li>
<li>
In order to insert data with insertOrIgnore method


<pre class="language-php">
<code>
DB::table('student')->insertOrIgnore([
"id"=>1,
"Name"=>'Tom',
"Email"=>'yahya@gmail.com',
"id"=>1,
"id"=>1,
]);

dd($students);
</code>
</pre>
</li>
<li>
insertGetId method help you to fund id from data 


<pre class="language-php">
<code>
$students=DB::table('student')->insertGetId([
"Name"=>"tommy",
"Email"=>"tommy@gmail.com",
"city"=>"tokyo",
"marks"=>80,
"date"=>"2022-08-01"

]);
dd($students);
</code>
</pre>
</li>
<li>
Update data through this method:-


<pre class="language-php">
<code>

$students=DB::table('student')->where("id","1")->update([
"Name"=>"tommy",
"Email"=>"tommy@gmail.com",
"city"=>"tokyo",
"marks"=>80,
"date"=>"2022-08-01"

]);
dd($students);
</code>
</pre>
</li>
<li>
UpdateOrInsert function :-


<pre class="language-php">
<code>
DB::table('student')->updateOrInsert(
['name' => 'tommy'],
['email' => 'johnylever@gmail.com',"city"=>"tokyo"]
);
</code>
</pre>
</li>
<li>
to delet row from table


<pre class="language-php">
<code>
DB::table('student')->where("id",2)->delete();
</code>
</pre>
</li>
<li>
to delete all data from table


<pre class="language-php">
<code>
DB::table('student')->truncate();
</code>
</pre>
</li>
<li>
pagination function


<pre class="language-php">
<code>
$student=DB::table('student')->paginate(1);
and put this finction in main file
{{$students->links()}}
</code>
</pre>
</li>
<li>
Simple pagination function


<pre class="language-php">
<code>
$student=DB::table('student')->simplePaginate(1);
and put this finction in main file
{{$students->links()}}
</code>
</pre>
</li>
<li>
Simple pagination function using bootstrap


<pre class="language-php">
<code>
use Illuminate\Pagination\paginator; (write this code into App/Provider/AppServicePrpvider)
paginator::useBootstrap();(write this code in boot function or in the same path App/Provider/AppServicePrpvider)

</code>
</pre>
</li>
<li>
This is the command through which you called all the files of pagonation:-


<pre class="language-php">
<code>
php artisan vendor:publish --tag=laravel-pagination
</code>
</pre>
</li>
<li>
this is the second method of pagination:-


<pre class="language-php">
<code>    {{$students->links('pagination::bootstrap-4')}}
</code>
</pre>
</li>
<li>
through this command you can make migration file
<pre class="language-php">
<code>     
php artisan make:migration create_student_table
</code>
</pre>
</li>
<li>
to execute migrate tables file
<pre class="language-php">
<code>     
php artisan migrate
</code>
</pre>
</li>
<li>
To see the status of migration files
<pre class="language-php">
<code>     
php artisan migrate:status
</code>
</pre>
</li>
<li>
To rollback the last migration
<pre class="language-php">
<code>     
php artisan migrate:rollback
</code>
</pre>
</li>
<li>
To rollback the last migration with step
<pre class="language-php">
<code>     
php artisan migrate:rollback --step=1

</code>
</pre>
</li>
<li>
To rollback all the migration
<pre class="language-php">
<code>     
php artisan migrate:reset

</code>
</pre>
</li>
<li>
rollback and refresh commmands
<pre class="language-php">
<code>     
php artisan migrate:refresh 

</code>
</pre>
</li>
<li>
rollback and refresh commmands
<pre class="language-php">
<code>     
php artisan migrate:refresh --step=2

</code>
</pre>
</li>
<li>
delet and migrate all files
<pre class="language-php">
<code>     
php artisan migrate:fresh

</code>
</pre>
</li>
<li>
hasTable function
<pre class="language-php">
<code>     
hasTable('tableName');

</code>
</pre>
</li>
<li>
schema rename function
<pre class="language-php">
<code>     
Schema::rename('student','teacher');

</code>
</pre>
</li>   
<li>
add column to other table by this code(migration)
<pre class="language-php">
<code>     
php artisan make:migration add_column_to_mobile --table=mobile
php artisan make:migration add_column_to_mobile_table

</code>
</pre>
</li>
<li>
In migartion topic you can add column into your table by this code
<pre class="language-php">
<code>     
$table->string('memory');

</code>
</pre>
</li>
<li>
In migartion topic you can drop column into your table by this code
<pre class="language-php">
<code>     
$table->dropColumn('memory');

</code>
</pre>
</li>
<li>
In migartion topic you can drop multiple column into your table by this code
<pre class="language-php">
<code>     
$table->dropColumn(['memory','price']);

</code>
</pre>
</li>
<li>
this is the method through you can can set defalt value of any column(migration)
<pre class="language-php">
<code>     
$table->string('brand_name')->default('Nokia');

</code>
</pre>
</li>
<li>
this is the method through you can can set length value of any column(migration)
<pre class="language-php">
<code>     
$table->string('model_name',255)->change();

</code>
</pre>
</li>
<li>
through this method you can change the name of column name (migration)
<pre class="language-php">
<code>     
$table->renameColumn('model_name','name');

</code>
</pre>
</li>
<li>
through this method you can add index in column(migration)
<pre class="language-php">
<code>     
$table->string('email')->unique();

</code>
</pre>
</li>
<li>
through this method you can remove index in column(migration)
<pre class="language-php">
<code>     
$table->dropUnique(['indexno']);

</code>
</pre>
</li>
<li>
to make foreign key
<pre class="language-php">
<code>     
$table->foreign('idWithStudent')->references('id')->on('student');

</code>
</pre>
</li>
<li>
through this commnad you can make resources controller  
<pre class="language-php">
<code>     

php artisan make:controller studentController -r 


</code>
</pre>
</li>
<li>
through this commnad you can make rule
<pre class="language-php">
<code>     

php artisan make:rule rulename


</code>
</pre>
</li>
<li>
this command help you to change the column length etc
<pre class="language-php">
<code>     
composer require doctrine/dbal
</code>
</pre>
</li>
<li>
through this commnad you can make 
<pre class="language-php">
<code>     

php artisan make:rule rulename


</code>
</pre>
</li>
<li>
through this commnad you can show all the routes of the resource controller
<pre class="language-php">
<code>     
php artisan route:list
</code>
</pre>
</li>
<li>
through this commnad you can make seeder
<pre class="language-php">
<code>     

php artisan make:seeder studentseeder


</code>
</pre>
</li>
<li>
put this code into seeder file on the top
<pre class="language-php">
<code>     


use Illuminate\Support\Facades\DB;
use Illuminate\Support\Facades\Hash;
use Illuminate\Support\str;

</code>
</pre>
</li>
<li>
if you want to insert data random so
<pre class="language-php">
<code>     

use Illuminate\Support\Facades\DB;
use Illuminate\Support\Facades\Hash;
use Illuminate\Support\str;


DB::table('student')->insert([
"Name"=>str::random(10),
"Email"=>str::random(10)."@gmail.com",
"Address"=>str::random(10),

]);

</code>
</pre>
</li>
<li>
this is the code through you can change password into hash password
<pre class="language-php">
<code>     
Hash::make('talha123');
</code>
</pre>
</li>
<li>
for password hash you can write code like that
<pre class="language-php">
<code>     
"password"=>Hash::make('hashir11');

</code>
</pre>
</li>
<li>

<pre class="language-php">
<code>     


php artisan db:seed --class=seederFileName


</code>
</pre>
</li>
<li>
seeding all the files   

<pre class="language-php">
<code>     


php artisan db:seed


</code>
</pre>
</li>
<li>
for seeding you can write this code in databaseSeeder.php      

<pre class="language-php">
<code>     
$this->call([
studentseeder::class
]);
</code>
</pre>
</li>
<li>
throught this commnad you can make model
<pre class="language-php">
<code>     
php artisan make:model modelName
</code>
</pre>
</li>
<li>
throught this commnad you can make model and migration at the same time
<pre class="language-php">
<code>     
php artisan make:model modelName -m
</code>
</pre>
</li>
<li>
throught this commnad you can make model and migration and controller at the same time
<pre class="language-php">
<code>     
php artisan make:model modelName -mc
</code>
</pre>
</li>
<li>
you maybe written this code in model file(model)
<pre class="language-php">
<code>     
protected $table='students';
</code>
</pre>
</li>
<li>
these are the properties which are used in model file
<pre class="language-php">
<code>     
protected $connection='mysql';   
protected $table='student';
protected $primaryKey='id';
protected $keyType='string';
protected $incrementing='false';
protected $timestamps='false';
protected $fillable=["name","email","city","marks"];

const CREATED_AT="creation_date";
const UPDATE_AT='updation_date';


</code>
</pre>
</li>
<li>
retrive data like that
<pre class="language-php">
<code>     
student::where('city','karachi')->orderBy('name')->get();
</code>
</pre>
</li>
<li>
you may also use chunking method to retrive data
<pre class="language-php">
<code>     
student::chunk(1,function($students){
echo "chucking the data <br>";
foreach ($students as  $stu) {
echo  $stu->name;
echo "<br>";
}
});
</code>
</pre>
</li>
<li>
find function with retriveing data with model
<pre class="language-php">
<code>     
$students=student::find(1);
</code>
</pre>
</li>
<li>
firstwhere  function with retriveing data with model
<pre class="language-php">
<code>     
$students=student::firstWhere('city','karachi');
</code>
</pre>
</li>
<li>
firstor  function with retriveing data with model
<pre class="language-php">
<code>     
$students=student::where('marks','=','99')->firstOr(function(){
echo "first not found or execution started";
});
</code>
</pre>
</li>
<li>
you may create and retrive data from model like that
<pre class="language-php">
<code>     
function show(){
// $students= student::all();
// $students=student::where('city','karachi')->orderBy('name')->get();

$students=student::firstOrCreate(
["name"=>"dell"],["email"=>"dell@gmail.com","city"=>"ranchi","marks"=>"900"]

);
</code>
</pre>
</li>
<li>
you may new and retrive data from model like that
<pre class="language-php">
<code>     
$students=student::firstOrNew(
["name"=>"hp"],["email"=>"hp@gmail.com","city"=>"ranchi","marks"=>"900"]

);
$students->save();
</code>
</pre>
</li>
<li>
Abbreviation function
<pre class="language-php">
<code>     
$students=student::where('city','karachi')->count();
$students=student::where('city','karachi')->max("marks");
$students=student::where('city','karachi')->min("marks");
</code>
</pre>
</li>

<li>
you can insert data into database like that
<pre class="language-php">
<code>     
$student=student::create([
"name"=>"tom",
"email"=>"tom@gmail.com",
"city"=>"ranchi",
"marks"=>87

]);
</code>
</pre>
</li>

<li>
through this method you can update data
<pre class="language-php">
<code>     
$student=student::find(6);
$student->name="lenovo";
$student->email="lenovo@gmail.com";
$student->city="karachi";
$student->marks=100;
$student->save();

</code>
</pre>
</li>
<li>
through this method you can updateOrCreate function data (Model)
<pre class="language-php">
<code>     
student::updateOrCreate(["name"=>"dell"],[
"email"=>"dali@gmail.com",
"city"=>"turkiya",
"marks"=>1002
]);
</code>
</pre>
</li>
<li>
delet the data from database like that with model file (model)
<pre class="language-php">
<code>     
student::find(4)->delete();
student::where('city','karachi')->delete();
student::destroy(4);
student::truncate();
</code>
</pre>
</li>
<li>
session code write in controller
<pre class="language-php">
<code>     
return redirect (route('index'))->with('status',"data addedd!!");
</code>
</pre>
</li>
<li>
session code write in main file
<pre class="language-php">
<code>     
@if (session()->has("status"))
<div class="text-success">
{{session('status')}}
</div>

@endif
</code>
</pre>
</li>
<li>
you may create an object instance in contoller file according to model
and through this you can insert data into database(model)
<pre class="language-php">
<code>     
$student= new student;
$student->name="shahid";
$student->email="shahid@gmail.com";
$student->address="new karachi";
$student->save();
return view('student',["student"=>$student]);

</code>
</pre>
</li>
<li>
you can also insert data like that (model)
<pre class="language-php">
<code>     
$student= student::create([
"name"=>"ahmed",
"email"=>"ahmed@gmail.com",
"city"=>"karachi",
]);
return view('student',["student"=>$student]);

</code>
</pre>
</li>
<li>
you can find data and update like that(model)
<pre class="language-php">
<code>     
$student= student::find(2);
$student->name=$name;
$student->email=$email;
$student->address=$address;
$student->save();

</code>
</pre>
</li>
<li>
you also apply mass update through this method(model)
<pre class="language-php">
<code>     
MASS UpDATE:-
$student::where('city',"karachi")->update(["marks"=>100]);

</code>
</pre>
</li>
<li>
you also apply mass delete through this method(model)
<pre class="language-php">
<code>     
MASS delete:-
$student::where('city',"karachi")->delete();

</code>
</pre>
</li>
<li>
through this you can delete (model)
<pre class="language-php">
<code>     
$student=student::find(3);
$student->delete();
</code>
</pre>
</li>
<li>
through this you can delete (model)
<pre class="language-php">
<code>     
$student=student::destroy(7);
</code>
</pre>
</li>

<li>
error message function
<pre class="language-php">
<code>     
<div class="text-danger">
@error('name')
{{$message}}
@enderror
</div>
</code>
</pre>
</li>   


<li>
validation function in laravel
<pre class="language-php">
<code>     
$req->validate(
['name' => 'required',
'Fname' => 'required|min:5',
'password' => 'required|confirmed',
'password_confirmation' => 'required'
]
);
</code>
</pre>
</li>      

<li>
through this you can insert data  (model)
<pre class="language-php">
<code>     
$student=new student;
$student->Name=$request->Name;
$student->Email=$request->Email; 
$student->Password=$request->Password;
$student->save();
</code>
</pre>
</li>


<li>
<h4>ONE TO ONE RELATIONSHIP CHEETSHEET STARTING FROM HERE </h4>
<pre class="language-php">
<code>     

</code>
</pre>
</li>
</li>







<li>
in order to make foreign key
<pre class="language-php">
<code>     
$table->foreign("customer_id")->references('id')->on('customers');
</code>
</pre>
</li>
</li>
<li>
In order to make one to one relationship then(ONE TO ONE RELATIONSHIP)
<pre class="language-php">
<code>     
public function mobile(){
return $this->hasOne(Mobile::.class);
}
</code>
</pre>
</li>

<li>
ONE EXAMPLE TO ISERT AND RETRIVE DATA IN CONTROLLER FILE WHEN MAKING 
ONE TO ONE RELATIONSHIP
<pre class="language-php">
<code>     

namespace App\Http\Controllers;

use Illuminate\Http\Request;
use App\Models\Customer;
use App\Models\Mobile;

class CustomerController extends Controller
{
function Add_customer(){
$mobile=new Mobile();
$mobile->model="galaxyj7";


$customer=new Customer();
$customer->Name="liaquat";
$customer->Email="liaquat@gmail.com";
$customer->save();
$customer->Mobile()->save($mobile);


}

function showMobile($id){
$mobile=Customer::find($id)->Mobile;
return $mobile;
}

}


</code>
</pre>
</li>





<li>
<h4>Authentication and breeze in laravel </h4>
<pre class="language-php">
<code>     

</code>
</pre>
</li>



<li>
<h4>To install breeze  </h4>
<pre class="language-php">
<code>     
composer require laravel/breeze --dev
php artisan breeze:install
npm install
npm run dev
</code>
</pre>
</li>
<li>
<h4>use this code in controller file </h4>
<pre class="language-php">
<code>     
use\Illuminate\Support\Facades\Auth;
</code>
</pre>
</li>

<li>
<h4>to see all data in authentication </h4>
<pre class="language-php">
<code>     
function show(){
return Auth::user();
}
<!-- only name -->
function show(){
return Auth::user()->name;
}
<!-- id -->
function show(){
return Auth::id();
}
</code>
</pre>
</li>
<li>
<h4>to see all data in authentication or find who user login in website </h4>
<pre class="language-php">
<code>     
function show(request $request){
return $request->user();   
}
<!-- only name -->
function show(request $request){
return $request->user()->name;   
}
<!-- id -->
function show(){
return $request->id();
}
</code>
</pre>
</li>

<li>
<h4>To check that the user is authentication or not </h4>
<pre class="language-php">
<code>     
function check(){
if(Auth::check()){
return "you are authenticated user";
}
return "unauthenticated user";

}
</code>
</pre>
</li>

  
  
  
<li>
<h4>These are the ways through you send data from controller to view file</h4>
<pre class="language-php">
<code>     
class DefineControoler extends Controller
{
    function show(){
        $myArray=array("ali","usman","afridi");
        $word="this is shoaib";
        return view('frontend.home',["team"=>$myArray,"word"=>$word]);
        $data=compact("myArray","word");
        return view('frontend.home',$data);
        return view('frontend.home')->with($data);
        return view('frontend.home',["myArray"=>$myArray,"word"=>$word]);
    }
}
</code>
</pre>
</li>









</ol>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.js"
integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script src="./js/main.js"></script>
<script src="./js/prism.js"></script>

</body>

</html>
