<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Laravel cheetsheet</title>
<link rel="stylesheet" href="./css/main.css" />
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
rel="stylesheet">
<!-- <script src="all.js"></script> -->
<!-- ######## swiiper cdn ################### -->
<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
<!--=================== font awsome link========================= -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="./css/prism.css">


</head>

<body>
<nav>
<span class="logo">
<div class="logo_img">
<img src="./webImages/copy_logo.webp" alt="">
</div>


<div class="content center">
This is  laravel cheetsheet for you!
</div>

</span>

</nav>
<div class="container">
<ol>
<li>Defining a route code example
<pre class="language-php"><code>
Route::get("about",function(){
return view('about');
};
</code>
</pre>
</li>

<li>Defining a route code example with parameter
<pre class="language-php"><code>

Route::get("about/{idNo}",function($id){
return  ($id);
};

</code>
</pre>
</li>
<li>Defining a route code example with parameter and optional
<pre class="language-php"><code>

Route::get("about/{idNo?}/{name}",function($id=null,$name){
return  ($id."your name is ".$name);
}->whereNumber('id')->whereAlpha('name');
</code>
</pre>
</li>
<li>for view of any web page
<pre class="language-php"><code>
Route::view('/about','admin.aboutme');
</code>
</pre>
</li>
<li>for view of any web page
<pre class="language-php"><code>
Route::get('/', function () {
return view('welcome');
});
</code>
</pre>
</li>
<li>Route with controller
<pre class="language-php"><code>
Route::get('about',[controllerName::class,'fumnctionName    ']);
</code>
</pre>
</li>
<li>command to show your webpage
<pre class="language-php"><code>
php artisan serve
</code>
</pre>
</li>
</li>
<li>Redirect code 
<pre class="language-php"><code>
Route::redirect("yaha","waha");
</code>
</pre>
</li>
<li>Redirect code 
<pre class="language-php"><code>
Route::redirect("yaha1","kaha1",201);
</code>
</pre>
</li>
<li>Redirect code 
<pre class="language-php"><code>
Route::permanentRedirect("yaha2","kaha2");
</code>
</pre>
</li>
<li>fallback message code   
<pre class="language-php"><code>
Route::fallback(function(){
return "defalut value";
});
</code>
</pre>
</li>
<li>In order to make controller 
<pre class="language-php"><code>
php artisan make:controller controllerName
</code>
</pre>
</li>
<li>In order to make Component
<pre class="language-php"><code>
php artisan make:component componentName
</code>
</pre>
</li>
<li>Single action controller command
<pre class="language-php"><code>
php artisan make:controller controllerName --invokable
</code>
</pre>
</li>
<li>This is the command how make laravel file
<pre class="language-php"><code>
    composer create-project --prefer-dist laravel/laravel gs23
</code>
</pre>
</li>
<li>Single action controller route
<pre class="language-php"><code>
route::get('link',[ControllerName::class]);
</code>
</pre>
</li>
<li>if  example
<pre class="language-php"><code>
@if ($name=="sonam")
{{"hello ".$name}}
@endif
</code>
</pre>
</li>
<li>if else example
<pre class="language-php"><code>
@if ($name=="sonam")
{{"hy!  ".$name}}
@else{{"by sonam"}}
@endif
</code>
</pre>
</li>
<li>Unless example
<pre class="language-php"><code>
@unless ($name=="sonam")

{{your name is sonam?}}
@endunless
</code>
</pre>
</li>
<li>isset example
<pre class="language-php"><code>
@isset($name)
{{your name is sonam}}
@endisset    
</code>
</pre>
</li>
<li>empty code example
<pre class="language-php"><code>
@empty($name)
&lt;h3&gt;hello this is empty code&lt;h3&gt;    
@endempty
</code>
</pre>
</li>
<li>Production code example
    <pre class="language-php"><code>
        @production($name)
        @endproduction
        &lt;h3&gt;hello this is empty code&lt;h3&gt;    
    </code>
</pre>
</li>
<li>env code example
<pre class="language-php"><code>
@env(['staging','local'])

&lt;h3&gt;local and staging environment&lt;h3&gt;    
@endenv
</code>
</pre>
</li>
<li>switch statement code example
<pre class="language-php"><code>
@switch(1)
@case(1)
&lt;h1&gt;THIS IS CASE ONE&lt;/h1&gt;
@break
@case(2)
&lt;h1&gt;THIS IS CASE TWO&lt;/h1&gt;
@break
@case(3)
&lt;h1&gt;THIS IS CASE THREE&lt;/h1&gt;
@break
@default

@endswitch
</code>
</pre>
</li>
<li>for loop statement code example
<pre class="language-php"><code>
@for ($i = 0; $i &lt;10; $i++)
&lt;h1&gt;{{$i}}&lt;/h1&gt; 

@endfor
</code>
</pre>
</li>
<li>forEach loop statement code example
<pre class="language-php"><code>
@foreach ($students as $stu)
&lt;h1&gt;
{{$stu}}
&lt;/h1&gt; 
@endforeach
</code>
</pre>
</li>
<li>forelse loop statement code example
<pre class="language-php"><code>
@forelse ($students as $stu)
&lt;h1&gt; 
{{$stu}}
&lt;/h1&gt; 

@empty
&lt;h1&gt;No students&lt;/h1&gt;
@endforelse
</code>
</pre>
</li>
<li>While loop example
<pre class="language-php"><code>
@while (true)
&lt;/h1&gt;hello forever&lt;/h1&gt;  
@endwhile
</code>
</pre>
</li>
<li>for each loop with break statement example
<pre class="language-php"><code>
@foreach ($students as $stu)
@if ( $loop-&gt;first )
&lt;h4&gt;this is first lopp&lt;/h4&gt;
@endif
@if ($loop-&gt;last)
&lt;h4&gt;this is last loop&lt;/h4&gt;
@endif
&lt;h3&gt;{{$stu}}&lt;/h3&gt;
@endforeach
</code>
</pre>
</li>
<li>include example
<pre class="language-php"><code>
@include('pagename');
</code>
</pre>
</li>
<li>includeIf example
<pre class="language-php"><code>
@includeIf('pagename');
</code>
</pre>
</li>
<li>this include a file and also execute array
<pre class="language-php"><code>
@each('filename','@arrayName','as thisname');
</code>
</pre>
</li>
<li>In order to use plain php in laravel file then write 
<pre class="language-php"><code>
@php 
echo "hello world";
@endphp 
</code>
</pre>
</li>
<li>In order to call component in Laravel
<pre class="language-php"><code>
&lt;x-component &gt;  &lt;x-component/&gt;
</code>
</pre>
</li>
<li>you must initialize your variable in app/views/component/componentName.php and write your code like that
<pre class="language-php"><code>
public $name;
public $fatherName;
public $news;
public $description;
public function __construct($name,$fatherName,$news,$description)  

{
$this->name=$name;
$this->fatherName=$fatherName;
$this->news=$news;
$this->description=$description;
}
</code>
</pre>
</li>
<li>then your code in resources/views/component/componentName.blade.php
<pre class="language-php"><code>
&lt;div&gt;

&lt;h1&gt;my name is {{$name}}  and your father name is {{$fatherName}} and the 
news is {{$news}} and the 

description is :- {{$description}}
&lt;/h1&gt;
&lt;div&gt;
&lt;h1 {{$attributes-&gt;merge(['class'=&gt;'dclass'])}}&gt;
hello
&lt;/h1&gt;
&lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
</li>

<li>now include your all code in example.blde.php and give value to these variables like that
<pre class="language-php">
<code>
&lt;x-componennt title="Card title" sub-title="card sub title" &gt;  &lt;x-componennt /&gt; 
</code>
</pre>
</li>
<li>adding css file in your website with laravel framework
<pre class="language-php">
<code>
    &lt;link rel="stylesheet" href="asset{{asset('css/style.css')}}" &gt;
</code>
</pre>
</li>
<li>adding js file in your website with laravel framework
<pre class="language-php">
<code>
    &lt;script src="asset{{asset('js/main.js')}}" script /&gt;
</code>
</pre>
</li>
<li>in order to install node module file then write command in terminal
<pre class="language-php">
<code>
    npm install
</code>
</pre>
</li>
<li>To Compiled files we have two commands
    dev="non-minified"
    prod="minified"
    watch="auto compiled also show result"
<pre class="language-php">
<code>
    npm run dev 
    npm run prod
    npm run watch
</code>
</pre>
</li>
<li>
    route call in your nav  tag like that
<pre class="language-php">
<code>
    &lt;a href="{{route('home')}}">&lt;/a&gt;
</code>
</pre>
</li>
<li>
    making middle wear through command
<pre class="language-php">
<code>
    php artisan make:middleware middlewareName
</code>
</pre>
</li>
<li>
protect from some attacks put in form
<pre class="language-php">
<code>
    @csrf
</code>
</pre>
</li>
<li>
this is the function through get all info about form data in array form
<pre class="language-php">
<code>
    $request->all();
</code>
</pre>
</li>
<li>
this is the function through get info in input field about form data in array form
<pre class="language-php">
<code>
    $request->input();
</code>
</pre>
</li>
<li>
this is the function through get info in input field of name about form data in array form
<pre class="language-php">
<code>
    $req->input('name');
</code>
</pre>
</li>
<li>
you can also get data into any field through this function
<pre class="language-php">
<code>
    $req->name;
</code>
</pre>
</li>
<li>
this is function of php its only check that one of them is present in form or not
<pre class="language-php">
<code>
    $req->hasAny(['name','email']);
    echo $req->name;
    echo $req->email;

</code>
</pre>
</li>
<li>
this is function of php its only check that the following field filled or not
<pre class="language-php">
<code>
    $req->Filled(['name','email']);
    echo $req->name;
    echo $req->email;

</code>
</pre>
</li>
<li>
this is the example through you can retrive data from an form 
<pre class="language-php">
<code>
    function Signup(Request $req){
        if($req->has(['name','email'])){
            echo $req->name;
            echo $req->email;
        }
        return view('Form');
    }
}
</code>
</pre>
</li>
<li>
    missing method
<pre class="language-php">
<code>
    $req->missing('name');
</code>
</pre>
</li>
<li>
when data is present in input field then this code execute
<pre class="language-php">
<code>
    function Signup(Request $req){
        $req->whenFilled('name',function(){
echo "Data Modified";
        });
</code>
</pre>
</li>
<li>
this also retrive data
<pre class="language-php">
<code>
    $req->flashOnly(['name']);
</code>
</pre>
</li>
<li>
this code used for mysql 
<pre class="language-php">
<code>
    use Illuminate\Support\Facades\DB;
</code>
</pre>
</li>
<li>
this code select all data from your mysql 
<pre class="language-php">
<code>
    $student=DB::select('select * from student');
    dd($student);
</code>
</pre>
</li>
<li>
this is the way you can retrive data 
<pre class="language-php">
<code>
    $student=DB::select('select * from student where city=?',['karachi']);
</code>
</pre>
</li>
<li>
this is the way you can insert data 
<pre class="language-php">
<code>
    DB::insert('insert into student(name,email,city) values(?,?,?)',['talha','talha@gmail.com','karachi']);
       $student=DB::select('select * from student');
</code>
</pre>
</li>
<li>
this is the way you can update data 
<pre class="language-php">
<code>
    DB::update('update student set city=? where id=?',["rawalpindi","4"]);
    $student=DB::select('select * from student');
</code>
</pre>
</li>
<li>
this is the way you can delet data 
<pre class="language-php">
<code>
    DB::delete('delete from student   where id=?',["1"]);
</code>
</pre>
</li>
<li>
through this code you can change or update you data in laravel
<pre class="language-php">
<code>
    namespace App\Http\Controllers;

    use Illuminate\Http\Request;
    use Illuminate\Support\Facades\DB;
    
    class studentController extends Controller
    {
       public function show(){    
           $student=DB::select('select * from student');
           DB::transaction(function()
    {   
        DB::update('update student set name=? where id=?',["hashir","9"]);
        DB::delete('delete from student   where id=?',["10"]);
    });
           
    return view ('student',['student'=>$student]); 
        }
    }
    
</code>
</pre>
</li>
<li>
    to retrive data form data base table
<pre class="language-php">
<code>
    $students=DB::table('student')->get();
        return view('student',['students'=>$students]);
    
</code>
</pre>
</li>
<li>
    to retrive first row data form data base table
<pre class="language-php">
<code>
    $students=DB::table('student','city','karachi')->first();
        return view('student',['students'=>$students]);
    
</code>
</pre>
</li>
<li>
    to find the particular name from database table 
<pre class="language-php">
<code>
    $students=DB::table('student','city','karachi')->value("name");
    
</code>
</pre>
</li>
<li>
    to find the particular data from database table  acoording to id number
<pre class="language-php">
<code>
    $students=DB::table('student')->find('5');
    
</code>
</pre>
</li>
<li>
if you find the column of list then 
<pre class="language-php">
<code>
    $students=DB::table('student')->pluck('Name');
    $students=DB::table('student')->pluck('marks','Name');(another method)
    
</code>
</pre>
</li>
<li>
chunking of data example:-
<pre class="language-php">
<code>
    {
        function show(){
        
        DB::table('student')->orderBy('id')->chunk(2,function($students){
            echo "chunk of data <br>";
            foreach($students as $stu){
                echo $stu->Name;
                echo "<br>";
            }
            
        });

    
            
        }
        
    }
    
    
</code>
</pre>
</li>
<li>
in order to find the number of rows in database table
<pre class="language-php">
<code>
    $student=DB::table('student')->count();
</code>
</pre>
</li>
<li>
in order to find the max value in any column
<pre class="language-php">
<code>
    $student=DB::table('student')->max('marks');
</code>
</pre>
</li>
<li>
checking id present or not
<pre class="language-php">
<code>
    if(DB::table('student')->where('id','10')->exists()){
        dd("yes");
    }
</code>
</pre>
</li>
<li>
checking id present or not
<pre class="language-php">
<code>
    if(DB::table('student')->where('id','10')->doesntExist()){
        dd("yes");
    }
</code>
</pre>
</li>
<li>
in order to select particular data
<pre class="language-php">
<code>
    $student=DB::table('student')->select('Name','Email')->get();
    dd($student);
</code>
</pre>
</li>
<li>
this is where function through you can get data
<pre class="language-php">
<code>
    $student=DB::table('student')->where('id',1)->get();
    // $student=DB::table('student')->where('id',">",1)->get();
</code>
</pre>
</li>
<li>
Example of where orWhere to retruve data from database
<pre class="language-php">
<code>
    $students=DB::table('student')->where("name","like","t%")->orWhere("id",1)->get();
    dd($students);
</code>
</pre>
</li>
<li>
Example of whereBetween to retruve data from database
<pre class="language-php">
<code>
    $students=DB::table('student')->whereBetween('marks',[10,100])->get();
    dd($students);
</code>
</pre>
</li>
<li>
In order to retrive data from database with date method 
<pre class="language-php">
<code>
    $students = DB::table('student')->whereDate('date','2022-06-16')->get();

        dd($students);
</code>
</pre>
</li>
<li>
In order to retrive data from database with orderBy function
<pre class="language-php">
<code>
    $students = DB::table('student')->orderBy('name')->get();
</code>
</pre>
</li>
<li>
In order to retrive data from database with latest function
<pre class="language-php">
<code>
    $students = DB::table('student')->latest('date')->first()
</code>
</pre>
</li>
<li>
In order to retrive data from database with oldest function
<pre class="language-php">
<code>
    $students = DB::table('student')->oldest('date')->first()
</code>
</pre>
</li>
<li>
In order to retrive data from database with random order function
<pre class="language-php">
<code>
    $students = DB::table('student')->inRandomOrder()->get();

        dd($students);
</code>
</pre>
<li>
In order to retrive data from database with groupBy function
<pre class="language-php">
<code>
    $students = DB::table('student')->groupBy("marks")->having("marks",">",50)->get();

        dd($students);
</code>
</pre>
</li>
<li>
In order to retrive data from database with take function
<pre class="language-php">
<code>
    $students = DB::table('student')->skip(3)->take(2)->get();

    dd($students);

        dd($students);
</code>
</pre>
</li>
<li>
In order to retrive data from database with limit function
<pre class="language-php">
<code>
    $students = DB::table('student')->limit(2)->get();

    dd($students);

        dd($students);
</code>
</pre>
</li>
<li>
In order to retrive data from database with offset and limit function
<pre class="language-php">
<code>
    $students = DB::table('student')->offset(4)->limit(2)->get();

    dd($students);

        dd($students);
</code>
</pre>
</li>
<li>
In order to insert multiple data in table 
<pre class="language-php">
<code>
    $students=DB::table('student')->insert(
        [
            [
                "Name"=>"harami",
                "Email"=>"harami@gmail.com",
                "city"=>"karachi",
                "marks"=>"90",
                "date"=>"2022-04-02"
            ],[
    
                "Name"=>"Nalaik",
                "Email"=>"Nalaik@gmail.com",
                "city"=>"lahore",
                "marks"=>"10",
                "date"=>"2022-10-02"
            ]
        ]
    );

    dd($students);
</code>
</pre>
</li>
<li>
In order to retrive data from database with offset and limit function
<pre class="language-php">
<code>
    $students = DB::table('student')->offset(4)->limit(2)->get();

    dd($students);

        dd($students);
</code>
</pre>
</li>


</ol>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.js"
integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script src="./js/main.js"></script>
<script src="./js/prism.js"></script>

</body>

</html>